<div *ngIf="loading">Chargement des témoignages...</div>

<div class="temoignages-cards" *ngIf="!loading">
   <div
    class="temoignage-card text-center"
    *ngFor="let temoignage of temoignages | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }"
  >
    <div class="card-header">
      <span class="temoignage-id">Témoignage {{ temoignage.id_temoignage }}</span>
      <span class="statut">{{ temoignage.statut_temoignage }}</span>
    </div>
    
    <div class="card-body">
      <p><strong>Client:</strong> {{ temoignage.client?.nom }} {{ temoignage.client?.prenom }} ({{ temoignage.client?.email || 'N/A' }})</p>
      <p><strong>Projet:</strong> {{ temoignage.projet?.titre_projet}}{{temoignage.id_projet }}</p>
   
      <p><strong>Note:</strong> {{ temoignage.note }} / 5</p>
      <p><strong>Commentaire:</strong> {{ temoignage.commentaire }}</p>
      <p><strong>Date:</strong> {{ temoignage.date_soumission | date:'dd/MM/yyyy HH:mm' }}</p>
    </div>
    
<div class="card-footer">
  <button 
    class="btn-valider" 
    (click)="confirmAction(temoignage.id_temoignage!, 'publier')" 
    [disabled]="temoignage.statut_temoignage === 'publié' || temoignage.statut_temoignage === 'refusé'">
    Publier
  </button>

  <button 
    class="btn-refuser" 
    (click)="confirmAction(temoignage.id_temoignage!, 'refuser')" 
    [disabled]="temoignage.statut_temoignage === 'publié' || temoignage.statut_temoignage === 'refusé'">
    Refuser
  </button>
</div>



  </div>

<!-- Modal de confirmation -->
<div class="confirmation-modal" *ngIf="showConfirmModal">
  <div class="modal-content">
<h3>
 
  Confirmation
</h3>
    <p>
      Voulez-vous vraiment
      {{ currentAction === 'publier' ? 'publier' : 'refuser' }}
      ce témoignage ?
    </p>
    <div class="modal-actions">
      <button (click)="executeAction()">Oui</button>
      <button (click)="showConfirmModal = false" style="color: red;">Non</button>
    </div>
  </div>
</div>

<!-- Modal de succès -->
<div class="confirmation-modal" *ngIf="showSuccessModal">
  <div class="modal-content">
      <h3>
      
      Succès
      </h3>
    <p>{{ successMessage }}</p>
    <button (click)="closeSuccessModal()">OK</button>
  </div>
</div>


</div>

<p *ngIf="message" class="message">{{ message }}</p>

<div class="pagination-wrapper">
    <pagination-controls
      (pageChange)="currentPage = $event"
      previousLabel="« Précédent"
      nextLabel="Suivant »"
      [autoHide]="false"
      [responsive]="true"
      [maxSize]="5"
    >
    </pagination-controls>
  </div>