<h2 mat-dialog-title>Ajouter un nouveau service</h2>
<mat-dialog-content>
  <form [formGroup]="serviceForm" (ngSubmit)="createService()">

    <!-- Nom du service -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Nom du service</mat-label>
      <input matInput formControlName="nom_service" placeholder="Entrez le nom du service">
      <mat-error *ngIf="serviceForm.get('nom_service')?.hasError('required')">
        Le nom du service est requis
      </mat-error>
      <mat-error *ngIf="serviceForm.get('nom_service')?.hasError('minlength')">
        Le nom doit contenir au moins 3 caractères
      </mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description_service" placeholder="Entrez la description du service"></textarea>
      <mat-error *ngIf="serviceForm.get('description_service')?.hasError('required')">
        La description est requise
      </mat-error>
      <mat-error *ngIf="serviceForm.get('description_service')?.hasError('minlength')">
        La description doit contenir au moins 10 caractères
      </mat-error>
    </mat-form-field>

    <!-- Prix minimum -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Prix minimum</mat-label>
      <input matInput type="number" formControlName="prix_minimum" placeholder="Ex: 100000" min="0">
      <mat-error *ngIf="serviceForm.get('prix_minimum')?.hasError('required')">
        Le prix minimum est requis
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-flat-button  (click)="createService()" [disabled]="serviceForm.invalid" style="  background: linear-gradient(90deg, #5DD35C, #0077C8, #2E0F66);
  color: white;">Ajouter</button>
</mat-dialog-actions>
