<div class="home-admin">
  <h1>Profil Admin</h1>
  <div class="dashboard">
  <div class="card">
    <h3>Commandes en attente</h3>
    <p>{{ commandesEnAttente }}</p>
  </div>
  <div class="card">
    <h3>Projets en cours</h3>
    <p>{{ projetsEnCours }}</p>
  </div>
  <div class="card">
    <h3>Projets Terminé</h3>
    <p>{{ projetsTermines }}</p>
  </div>
</div>

  <div class="recent-commands">
    <h3>Commandes récentes</h3>
    <div class="commandes-cards" *ngIf="commandes?.length; else noCommands">
      <div class="commande-card" *ngFor="let cmd of commandes | slice:0:2">
        <div class="card-header">
          <span class="commande-id">{{ cmd.commandes_id }}</span>
          <span class="statut">{{ cmd.statut_commande }}</span>
        </div>
        <div class="card-body">
          <p><strong>Client:</strong> {{ cmd.client.nom }} {{ cmd.client.prenom }}</p>
          <p><strong>Service:</strong> {{ cmd.service.nom_service }}</p>
          <p><strong>Date:</strong> {{ cmd.date_commande | date:'dd/MM/yyyy' }}</p>
        </div>
        <div class="card-footer">
          <button class="btn-valider" (click)="validerCommande(cmd.commandes_id)">Valider</button>
          <button class="btn-refuser">Refuser</button>
        </div>
      </div>
    </div>
    <ng-template #noCommands>
      <p>Aucune commande récente.</p>
    </ng-template>
    <p><a routerLink="/admin/commandes">Voir toutes les commandes</a></p>
  </div>
</div>
