<!-- Header -->
<nav class="navbar">
  <div class="navbar-left">
    <span class="logo">INNOV-T </span>
    <a routerLink="/">Accueil</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/contact">Contact rapide</a>
    <a routerLink="/temoignages">Témoignages clients</a>
  </div>
  <div class="navbar-right">
    <a routerLink="/connexion" class="btn-login">Se connecter</a>
  </div>
</nav>

<!-- Contenu des pages publiques -->
<main class="main-content">
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer class="footer">
  <p>INNOV-T      - Votre partenaire dans le monde numérique</p>
</footer>

