<div class="public-layout">
  <!-- Section présentation + services -->
  <div class="top-section">
    <!-- Présentation (colonne gauche) -->
    <div class="intro">
      <h1>Innov-T</h1>
      <p>
        Une entreprise passionnée de numérique spécialisée dans la création des sites web modernes,
        des applications, des logos et d'outils de gestion innovants pour l'entreprise et particuliers.
      </p>
      <button class="btn-primary" [routerLink]="['/services']">Voir nos services complets</button>

       <!-- Testimonials Section -->
  <section class="testimonials-section">
    <h4>Extrait de témoignages</h4>

    <div class="testimonials-row" *ngIf="publishedTemoignages.length > 0; else noTemoignages">
      <article class="testimonial-card" *ngFor="let t of publishedTemoignages">
        <div class="testimonial-header">
          <div class="avatar-placeholder"></div>
          <div class="client-info">
            <strong>{{ t.client?.nom }} {{ t.client?.prenom }}</strong>
            <div class="rating">
              <!-- étoiles pleines -->
              <ng-container *ngFor="let _ of getStars(t.note)">
                <span class="star full">★</span>
              </ng-container>

              <!-- étoiles vides -->
              <ng-container *ngFor="let _ of getEmptyStars(t.note)">
                <span class="star empty">☆</span>
              </ng-container>
            </div>
          </div>
        </div>

        <p class="comment" style="font-size: 12px;">{{ t.commentaire }}</p>

        <div class="meta">
          <span class="date">{{ t.date_soumission | date: 'dd/MM/yyyy' }}</span>
          <span class="project-title" *ngIf="t.projet">{{ t.projet.titre_projet }}</span>
        </div>
      </article>
    </div>

    <ng-template #noTemoignages>
      <p>Aucun témoignage publié pour le moment.</p>
    </ng-template>

    <div class="see-more">
         <button class="btn-primary" [routerLink]="['/temoignages']">Voir plus de témoignages</button>
    </div>
  </section>
    </div>

    <!-- Services (colonne droite) -->
  <div class="services-cards">
  <div *ngFor="let service of services" class="service-card">
    <i class="icon fas fa-globe"></i> <!-- Example icon for web service -->
    <h3>{{ service.nom_service }}</h3>
    <p>{{ service.description_service }}</p>
   
  </div>
</div>
  </div>

 
</div>