<h2 mat-dialog-title>Fiche Client</h2>

<div mat-dialog-content *ngIf="loading" class="loading">
  Chargement des données...
</div>

<div mat-dialog-content *ngIf="!loading && clientFiche">

  <!-- Header client -->
  <div class="client-header">
    
    <h3>{{ clientFiche.prenom }} {{ clientFiche.nom }}</h3>
    <p>Email: {{ clientFiche.email }}</p>
    <p>Téléphone: {{ clientFiche.telephone }}</p>
  </div>

  <!-- Card Commandes -->
  <div class="card commandes-card" *ngIf="clientFiche.commandes?.length > 0">
    <div class="card-header">
      <h4>Commandes</h4>
    </div>
  <div class="card-body">
  <div class="table-container">
    <table class="table-commandes">
      <thead>
        <tr>
          <th>ID</th>
          <th>Service</th>
          <th>Satut</th>
          <th>Date Commande</th>
          <th>Date Livraison</th>
          <th>Montant</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cmd of pagedCommandes">
          <td>{{ cmd.commandes_id }}</td>
          <td>{{ cmd.service?.nom_service }}</td>
          <td>{{ cmd.statut_commande }}</td>
          <td>{{ cmd.date_commande | date:'dd/MM/yyyy' }}</td>
          <td>{{ cmd.date_livraison ? (cmd.date_livraison | date:'dd/MM/yyyy') : '-' }}</td>
          <td>{{ cmd.montant_final | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  </div>
  <div class="pagination-controls" *ngIf="totalPages > 1">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Précédent</button>
  <span>Page {{currentPage}} / {{totalPages}}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant</button>
</div>




</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Fermer</button>
</div>
