<div class="messagerie-conteneur">
  <div class="liste-projets">
    <h3 class="projets-titre">Tous les Projets</h3>
    <ul>
      <li *ngFor="let projet of projets" (click)="selectionnerProjet(projet)" class="projet-item"
        [ngClass]="{'projet-selectionne': projetSelectionne?.projet_id === projet.projet_id}"
      >
        {{ projet.titre_projet }} - Client: {{ projet.commande.client.prenom }}
        <span *ngIf="projet.nonLus > 0" class="badge-nonlus">
        {{ projet.nonLus }}
    </span>
      </li>
    </ul>
  </div>
  <div class="fenetre-chat" *ngIf="projetSelectionne">
    <div class="chat-header">
      <h3>{{ projetSelectionne.titre_projet }}</h3>
    </div>
    <div class="liste-messages">
      <div *ngFor="let msg of messages" class="message-container" [ngClass]="{'envoye': msg.expediteur.id === userId, 'recu': msg.expediteur.id !== userId}">
        <div class="message-bulle">
          <!-- Contenu texte -->
          <p class="message-contenu" *ngIf="msg.contenu">{{ msg.contenu }}</p>

      

         <!-- Pour les images -->
<div *ngIf="msg.fichier && msg.typeFichier.startsWith('image/')" class="message-image">
  <img [src]="'http://localhost:3000/' + msg.fichier" 
       [alt]="msg.nomOriginalFichier" 
       style="max-width: 300px; max-height: 300px;" />

  <p>
    {{ msg.nomOriginalFichier }} ({{ msg.typeFichier }})
    <!-- Bouton pour télécharger l'image -->
 <button (click)="downloadFile(msg.fichier.split('/').pop()!)">
  ⬇️
</button>

  </p>
</div>

<!-- Pour les autres fichiers (PDF, Word, etc.) -->
<p *ngIf="msg.fichier && !msg.typeFichier.startsWith('image/')">
  <a [href]="'http://localhost:3000/' + msg.fichier" 
     target="_blank">
    📎 {{ msg.nomOriginalFichier || msg.fichier.split('-').slice(1).join('-') }} ({{ msg.typeFichier }})
  </a>

<!-- Bouton de téléchargement -->
<button (click)="downloadFile(msg.fichier.split('/').pop()!)">
  ⬇️ 
</button>


</p>


          <span class="message-date">{{ msg.date_creation | date: 'shortTime' }}</span>
        </div>
      </div>
    </div>
     <div class="chat-input">
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="nouveauMessage" (keydown.enter)="envoyerMessage()" placeholder="Écrivez un message...">
      </mat-form-field>

      <!-- Affichage du fichier sélectionné -->
      <div class="file-upload-container">
        <div *ngIf="fichier" class="file-selected">
          <span>{{ fichier.name }}</span>
        
        </div>
        <label class="file-upload-label">
          <mat-icon>cloud_upload</mat-icon>
          <span>Joindre un fichier</span>
          <input type="file" (change)="fichierSelectionne($event)" hidden />
        </label>
      </div>
      <button class="envoyer-icon-btn" (click)="envoyerMessage()">
  <span class="material-icons">send</span>
</button>
    </div>
  </div>
</div>